<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
</head>

<body>
<div class="x-body">
    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <input type="hidden" name="advert_type" class="layui-input" value="10">
        <div class="layui-form-item">
            <label class="layui-form-label">名称：</label>
            <div class="layui-input-block">
                <input type="text" name="advert_name" placeholder="" lay-verify="required|advert_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="imgBtn">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input type="hidden" name="advert_img" class="layui-input" id="advert_img"/>
                <span>点击预览</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接：</label>
            <div class="layui-input-block">
                <input type="text" name="advert_url"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input type="text" name="advert_order" placeholder="" lay-verify="required|number" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add" id="submitBtn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['upload','form'], function(){
        var upload = layui.upload
            ,form = layui.form
            ,$ = layui.jquery;

        //图片上传
        upload.render({
            elem: '#imgBtn'         //绑定元素
            ,url: '/fileUpload'     //上传接口
            ,done: function(res){
                //上传完毕回调
                console.log(res.data);
                $("#article_img").val(res.data);
            }
            ,error: function(){
                //请求异常回调
                console.log("文件上传失败")
            }
        });


        //表单提交
        form.on('submit(add)', function(data){
            $("#submitBtn").addClass("layui-btn-disabled");
            $.ajax({
                url:"/admin/banner/save",              //请求地址
                type:'post',                         //method请求方式，get或者post
                data:JSON.stringify(data.field),     //表格数据序列化
                contentType: "application/json; charset=utf-8",
                success:function(jsonResult){          //res为相应体,function为回调函数
                    if(jsonResult.code == '200'){
                        layer.alert(jsonResult.msg, {icon: 6},function () {
                            //关闭弹出层，并且刷新父页面
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        });
                    }else{
                        layer.alert(jsonResult.msg, {icon: 5});
                        $("#submitBtn").removeClass("layui-btn-disabled");
                    }
                },
                error:function(){
                    layer.alert('操作失败！！！',{icon:5});
                    $("#submitBtn").removeClass("layui-btn-disabled");
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        $(".layui-btn-primary").click(function(){
            $("#submitBtn").removeClass("layui-btn-disabled");
        });
    });

</script>
</body>

</body>
</html>