<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link href="/banzhuantang/css/base.css" rel="stylesheet">
    <link href="/banzhuantang/css/index.css" rel="stylesheet">
    <link href="/banzhuantang/css/media.css" rel="stylesheet">
    <link href="/banzhuantang/css/swiper.min.css" rel="stylesheet" >
    <link href="/banzhuantang/layui/css/layui.css" rel="stylesheet" >
</head>
<body>
<header>
    <div class="topbg">
        <ul class="topnav">
            <a href="http://jiyouh.yangqq.com/" target="_blank">Home</a><a href="http://jiyouh.yangqq.com/about.html" target="_blank">关于我们</a>
        </ul>
    </div>
    <div class="topbgline"></div>
    <div class="logo">
        <div class="logo_l f_l"><a href="http://jiyouh.yangqq.com/"><img src="/banzhuantang/images/listlogo.png"></a></div>
        <!--<div class="logo_r f_r">-->
            <!--<div class="search">-->
                <!--<form action="http://jiyouh.yangqq.com/e/search/index.php" method="post" name="searchform" id="searchform">-->
                    <!--<input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value==&#39;请输入关键字词&#39;){this.style.color=&#39;#000&#39;;value=&#39;&#39;}" onblur="if(value==&#39;&#39;){this.style.color=&#39;#999&#39;;value=&#39;请输入关键字词&#39;}" type="text">-->
                    <!--<input name="show" value="title" type="hidden">-->
                    <!--<input name="tempid" value="1" type="hidden">-->
                    <!--<input name="tbname" value="news" type="hidden">-->
                    <!--<input name="Submit" class="input_submit" value="搜索" type="submit">-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <nav id="topnav">
        <ul>
            <a href="http://jiyouh.yangqq.com/" target="_blank" id="topnav_current">首页</a>
            <a href="http://jiyouh.yangqq.com/jiaocheng/">资讯</a>
            <a href="http://jiyouh.yangqq.com/xinde/">教程</a>
            <a href="http://jiyouh.yangqq.com/gongju/">案例</a>
            <a href="http://jiyouh.yangqq.com/zhizuo/">商城</a>
            <a href="http://jiyouh.yangqq.com/chengxu/">程序人生</a>
            <a href="http://jiyouh.yangqq.com/about.html" target="_blank">关于我们</a>
        </ul>
    </nav>
</header>
<article>
    <div class="l_box f_l">
        <!-- banner 开始 -->
        <div class="layui-carousel" id="banner" lay-filter="banner">
            <div carousel-item="">
                <div><a href=""><img src="/banzhuantang/images/1m.jpg"></a></div>
                <div>条目2</div>
                <div>条目3</div>
                <div>条目4</div>
                <div>条目5</div>
            </div>
        </div>
        <!-- banner 结束  -->
		<div class="blank"></div>
		<div class="topnews">
			<h2><b>文章</b>最新</h2>
			<div class="blogs">
				<figure><img src="/banzhuantang/images/5db64b7785eb9293e34e295df537031b.png"></figure>
				<ul>
					<h3><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" target="_blank" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></h3>
					<p>大多数站长都是因为，个人爱好，或者工作学习需要，才去建立一个个人博客网站的，基本上不在乎网站排名。但，只要网站一上线，后期，占9成的站长会关注网站优化和排名。网站优化和排名做好了，可以认识更多的朋友，有更好的知名度，还可以挣钱卖产品，提供网站建设相关服务。无论是企业还是个人，做好网站优化，都是有利的。...</p>
					<p class="autor"><span class="lm f_l">[<a href="http://jiyouh.yangqq.com/jiaocheng/">网站教程</a>]</span>
						<span class="dtime f_l">2019-03-06 19:00:36</span>
						<span class="viewnum f_r">浏览（<a href="http://jiyouh.yangqq.com/jiaocheng/7.html">11</a>）</span>
					</p>
				</ul>
			</div>	

			<div class="blogs">
				<figure><img src="/banzhuantang/images/5db64b7785eb9293e34e295df537031b.png"></figure>
				<ul>
					<h3><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" target="_blank" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></h3>
					<p>大多数站长都是因为，个人爱好，或者工作学习需要，才去建立一个个人博客网站的，基本上不在乎网站排名。但，只要网站一上线，后期，占9成的站长会关注网站优化和排名。网站优化和排名做好了，可以认识更多的朋友，有更好的知名度，还可以挣钱卖产品，提供网站建设相关服务。无论是企业还是个人，做好网站优化，都是有利的。...</p>
					<p class="autor"><span class="lm f_l">[<a href="http://jiyouh.yangqq.com/jiaocheng/">网站教程</a>]</span>
						<span class="dtime f_l">2019-03-06 19:00:36</span>
						<span class="viewnum f_r">浏览（<a href="http://jiyouh.yangqq.com/jiaocheng/7.html">11</a>）</span>
					</p>
				</ul>
			</div>

			<div class="blogs">
				<figure><img src="/banzhuantang/images/5db64b7785eb9293e34e295df537031b.png"></figure>
				<ul>
					<h3><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" target="_blank" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></h3>
					<p>大多数站长都是因为，个人爱好，或者工作学习需要，才去建立一个个人博客网站的，基本上不在乎网站排名。但，只要网站一上线，后期，占9成的站长会关注网站优化和排名。网站优化和排名做好了，可以认识更多的朋友，有更好的知名度，还可以挣钱卖产品，提供网站建设相关服务。无论是企业还是个人，做好网站优化，都是有利的。...</p>
					<p class="autor"><span class="lm f_l">[<a href="http://jiyouh.yangqq.com/jiaocheng/">网站教程</a>]</span>
						<span class="dtime f_l">2019-03-06 19:00:36</span>
						<span class="viewnum f_r">浏览（<a href="http://jiyouh.yangqq.com/jiaocheng/7.html">11</a>）</span>
					</p>
				</ul>
			</div>
			
			<div class="blogs">
				<figure><img src="/banzhuantang/images/5db64b7785eb9293e34e295df537031b.png"></figure>
				<ul>
					<h3><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" target="_blank" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></h3>
					<p>大多数站长都是因为，个人爱好，或者工作学习需要，才去建立一个个人博客网站的，基本上不在乎网站排名。但，只要网站一上线，后期，占9成的站长会关注网站优化和排名。网站优化和排名做好了，可以认识更多的朋友，有更好的知名度，还可以挣钱卖产品，提供网站建设相关服务。无论是企业还是个人，做好网站优化，都是有利的。...</p>
					<p class="autor"><span class="lm f_l">[<a href="http://jiyouh.yangqq.com/jiaocheng/">网站教程</a>]</span>
						<span class="dtime f_l">2019-03-06 19:00:36</span>
						<span class="viewnum f_r">浏览（<a href="http://jiyouh.yangqq.com/jiaocheng/7.html">11</a>）</span>
					</p>
				</ul>
			</div>
			
			<div class="blogs">
				<figure><img src="/banzhuantang/images/5db64b7785eb9293e34e295df537031b.png"></figure>
				<ul>
					<h3><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" target="_blank" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></h3>
					<p>大多数站长都是因为，个人爱好，或者工作学习需要，才去建立一个个人博客网站的，基本上不在乎网站排名。但，只要网站一上线，后期，占9成的站长会关注网站优化和排名。网站优化和排名做好了，可以认识更多的朋友，有更好的知名度，还可以挣钱卖产品，提供网站建设相关服务。无论是企业还是个人，做好网站优化，都是有利的。...</p>
					<p class="autor"><span class="lm f_l">[<a href="http://jiyouh.yangqq.com/jiaocheng/">网站教程</a>]</span>
						<span class="dtime f_l">2019-03-06 19:00:36</span>
						<span class="viewnum f_r">浏览（<a href="http://jiyouh.yangqq.com/jiaocheng/7.html">11</a>）</span>
					</p>
				</ul>
			</div>
			
		</div>
		
		
		
    </div>
	
	<div class="r_box f_r">
		<div class="tit01">
		  <h3>联系我</h3>
		  <div class="gzwm">
			<ul>
			  <li><a class="xlwb" href="http://jiyouh.yangqq.com/" target="_blank">主页</a></li>
			  <li><a class="txwb" href="tell://18649130945" target="_blank" title="18649130945">QQ</a></li>
			  <li><a class="rss" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=476847113@qq.com" target="_blank">邮箱</a></li>
			  <li><a class="wx" href="">微信</a></li>
			  
			</ul>
		  </div>
		</div>
		<!--tit01 end-->
		<div class="ad"><a href="http://jiyouh.yangqq.com/" target="_blank"><img src="/banzhuantang/images/4m.jpg" id="slide-img-1"></a></div>
		<div class="blank"></div>
		
		<div class="cloud">
			<h3>热门</h3>
		</div>
		<div class="ms-main" id="ms-main">
			<div style="display: block;" class="bd bd-news">
				<ul>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/7.html" title="【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏">【排名技术建站】杨青助你快速实现主站为核心的搜索排名霸屏</a></li>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/1.html" title="建站流程篇——教你如何快速学会做网站">建站流程篇——教你如何快速学会做网站</a></li>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/2.html" title="企业做网站具体流程步骤">企业做网站具体流程步骤</a></li>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/3.html" title="做网站到底需要什么?">做网站到底需要什么?</a></li>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/4.html" title="我的个人博客之——阿里云空间选择">我的个人博客之——阿里云空间选择</a></li>
				<li><a href="http://jiyouh.yangqq.com/jiaocheng/5.html" title="如何快速建立自己的个人博客网站">如何快速建立自己的个人博客网站</a></li>	
				</ul>
			</div>
		</div>
		
		<div class="blank"></div>
		<div class="blank"></div>
		<div class="blank"></div>
		<!--切换卡 moreSelect end -->
		<div class="cloud">
			<h3>标签云</h3>
			<ul>
				<a href="javascript:void(0)" target="_blank">JAVA</a>
				<a href="javascript:void(0)" target="_blank">Springboot</a>
				<a href="javascript:void(0)" target="_blank">Layui</a>
				<a href="javascript:void(0)" target="_blank">CSDN</a>
				<a href="javascript:void(0)" target="_blank">EXCEL</a>		
			</ul>
		</div>		
		
		<div class="ad"><a href="http://jiyouh.yangqq.com/" target="_blank"><img src="/banzhuantang/images/4m.jpg" id="slide-img-1"></a></div>
		<div class="links">
		  <h3>友情链接</h3>
		  <ul>
			   <li><a href="https://www.yangqq.com/" target="_blank">杨青青个人博客</a></li>
				<li><a href="https://www.yangqq.com/" target="_blank">青于蓝排名建站</a></li>
				</ul>
		</div>
  </div>
	
	
</article>
<footer>
  <div class="endfoot">
    <div class="ft-info f_l">
      <div class="ftlogo"><img src="/banzhuantang/images/listlogo.png"></div>
      <div class="ft-title">
        <p>时尚设计，国内最优化的模板设计平台! </p>
      </div>
    </div>
    <div class="ft-list f_r">
		<div class="ft-shares">
			<a class="shares-sina" title="新浪微博" href="http://jiyouh.yangqq.com/#" target="_blank"></a>
			<a class="shares-ten" title="腾讯微博" href="http://jiyouh.yangqq.com/#" target="_blank"></a>
			<a class="shares-dib" href="http://jiyouh.yangqq.com/#" target="_blank"></a>
		</div>
		<div class="ft-nav"> 
			<a href="http://jiyouh.yangqq.com/#" target="_blank">关于我们</a>
			<a href="http://jiyouh.yangqq.com/#" target="_blank">联系我们</a>
			<a href="http://jiyouh.yangqq.com/#" target="_blank">版权声明</a>
			<a href="http://jiyouh.yangqq.com/#" id="qaurl">问题反馈</a>
			<a href="http://jiyouh.yangqq.com/#" target="_blank">商务合作</a> 
		</div>
		<p class="ft-copyright"> Copyright 2014 Comsenz Inc. Powered by Discuz! X3.2. 粤ICP2014008000-3号</p>
		<div class="ftewm"><img src="/banzhuantang/images/wx.png"></div>
    </div>
  </div>
  <div id="tbox"><a id="gotop" href="http://jiyouh.yangqq.com/#"></a> </div>
</footer>




<script type="text/javascript" src="/banzhuantang/js/silder.js"></script>
<script type="text/javascript" src="/banzhuantang/js/jquery.js"></script>
<script type="text/javascript" src="/banzhuantang/layui/layui.js"></script>
<script>
    layui.use(['carousel', 'form'], function() {
        var carousel = layui.carousel
            , form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#banner'
			,width:'680px'
            , arrow: 'hover'
        });
    });


</script>
</body>
</html>