<footer th:fragment="footer">
    <div class="endfoot">
        <div class="ft-info f_l">
            <div class="ftlogo"><img src="/html/images/listlogo.png"></div>
            <div class="ft-title">
                <p>让我们一起在互联网上搬砖吧~~~ </p>
            </div>
        </div>
        <div class="ft-list f_r">
            <div class="ft-shares">
                <a class="shares-sina" title="新浪微博" href="javascript:void(0)" target="_blank"></a>
                <a class="shares-ten" title="腾讯微博" href="javascript:void(0)" target="_blank"></a>
                <a class="shares-dib" href="javascript:void(0)" target="_blank"></a>
            </div>
            <div class="ft-nav">
                <a href="javascript:void(0)" target="_blank">关于我们</a>
                <a href="javascript:void(0)" target="_blank">联系我们</a>
                <a href="javascript:void(0)" target="_blank">版权声明</a>
                <a href="javascript:void(0)" id="qaurl">问题反馈</a>
                <a href="javascript:void(0)" target="_blank">商务合作</a>
            </div>
            <p class="ft-copyright" th:text="${web_copyright}"></p>
            <div class="ftewm"><img src="/html/images/wx.png"></div>
        </div>
    </div>
    <div id="tbox"><a id="gotop" href="/"></a> </div>

    <script type="text/javascript" src="/html/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //首先将#back-to-top隐藏
            $("#tbox").hide();
            //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > 100) {
                        $("#tbox").fadeIn(800);
                    }
                    else {
                        $("#tbox").fadeOut(800);
                    }
                });
                //当点击跳转链接后，回到页面顶部位置
                $("#tbox").click(function () {
                    $('body,html').animate({ scrollTop: 0 }, 1000);
                    return false;
                });
            });
        });

    </script>
</footer>
